.idea/
parameters.txt
back/.rnd
back/mssql/
front/vue.config.js
back/.env
back/vendor/
back/docker/jasperserver/.env
back/storage/
back/_ide_helper_models.php
back/.phpstorm.meta.php
back/_ide_helper.php
back/public/css
back/public/img
back/public/js
back/public/fonts/
back/public/favicon.ico
back/resources/views/index.html
back/public/app*.js
back/public/app*.map

.vscode/
